.Quiz{
    background-color: tan;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    height: 100vh;
    display: flex;

}

h2{
    text-align: center;
    margin: 15px;
    padding: auto;
}

.Name{
    padding: auto;
    margin: auto;
    margin-bottom: 7px;
}

button{
    margin-top: 7px;
    background-color: aqua;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.SIGN{
 text-align: center;  
    width: 800px;
    max-width: 80%; 

    
}

input{
    width: 200px;
    height: 30px;
    border-radius: 5px;


}

#Sign-up{
    display: none;
}

p{
    text-align: center;
    font-weight: bolder;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.Answer{
    text-align: center;
    font-weight: bold;
    font-stretch: wider;
    display: grid;
    grid-template-columns: repeat(2,auto);
}